<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>

    <!--当前的配置是全局配置，针对所有mapper-->

    <settings>
        <!--	是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--开启延迟加载，这样在分步查询到时候，可以只执行到需要的sql-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--按需加载，所有有关的sql都需要加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.itwen.pojo"/>
    </typeAliases>
    <!--设置分页插件-->
    <plugins> <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <environments default="development">

        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///ssm?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="2410"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.itwen.mapper"/>
    </mappers>
</configuration>